.body
{
    background : #F7F7F7;
    color: black;
    font-family: sans-serif;
    font-size: large;
}
.button
{
    background-color: #43D1AF;
    font-family: sans-serif;
    color: #fff;
    width: 100%;
    width: 300px;
    height : 30px;
    font-size: large;
    border-radius: 5px 5px 5px 5px;
    border-color: black;
    
}
input[type=text]
{
    width: 100%;
    width : 200px;
}
input[type=password]
{
    width: 100%;
    width : 200px;
}